<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col-md-6">
      <%= form.label :name, 'Nombres' %>
      <%= form.text_field :name, id: :client_name, class: 'form-control' %>
    </div>

    <div class="field col-md-6">
      <%= form.label :lastname, 'Apellidos' %>
      <%= form.text_field :lastname, id: :client_lastname, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="field col-md-6">
      <%= form.label :document, 'Documento' %>
      <%= form.text_field :document, id: :client_document, class: 'form-control' %>
    </div>

    <div class="field col-md-6">
      <%= form.label :dateofbirth, 'Fecha de Nacimiento' %>
      <%= form.date_select :dateofbirth, id: :client_dateofbirth, :start_year => 1950, :end_year => 2000 %>
      <!-- FALTA SOLUCIONAR GENERO -->
      <div class="field">
        <%= form.label :gender, "Género" %>
          <%= form.label :gender, 'Masculino', :value => 'true' %>
          <%= form.radio_button :gender, true %> <br>
          <%= form.label :gender, 'Femenino', :value => 'false' %>
          <%= form.radio_button :gender, false %> <br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field col-md-12">
      <%= form.label :cedula_frente, 'Cédula' %><br>
      Frente: <%= form.file_field :cedula_frente, class: 'form-control-file' %>
      Reverso: <%= form.file_field :cedula_reverso, class: 'form-control-file' %><br>
    </div>
  </div>

  <div class="row">
    <div class="field col-md-6">
      <%= form.label :phone, 'Telefono' %>
      <%= form.text_field :phone, id: :client_phone, class: 'form-control' %>
    </div>

    <div class="field col-md-6">
      <%= form.label :address, 'Dirección' %>
      <%= form.text_field :address, id: :client_address, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-success' %>
  </div>
<% end %>
