<div class="row">
  <div class="col-md-3">
    <div class="card card-stats">
    	<div class="card-header" data-background-color="orange">
    		<i class="fa fa-user"></i>
    	</div>
    	<div class="card-content">
    		<p class="category">Productos</p>
    		<h3 class="title"><%= @products.count %><small> En lista</small></h3>
    	</div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card card-stats">
    	<div class="card-header" data-background-color="orange">
    		<i class="fa fa-user"></i>
    	</div>
    	<div class="card-content">
    		<p class="category">Categorias</p>
    		<h3 class="title"><%= @category .count %><small> En lista</small></h3>
    	</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <table class="table">
          <thead>
            <tr>
              <td>#</td>
              <td>Nombre</td>
              <td>Telefono</td>
              <td>Edad</td>
            </tr>
          </thead>
          <tbody>
            <% @clients.each do |client, index| %>

                <tr>
                  <td><%= index %></td>
                  <td><%= client.name %></td>
                  <td><%= client.phone %></td>
                  <td><%= client.age %></td>
                </tr>
              
            <% end %>
          </tbody>
      </table>
  </div>
</div>
