<%= render :partial => 'cards' %>
<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header" data-background-color="green">
        <h3 class="title text-center">Hoy es cumpleaños de: </h3>
      </div>
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Teléfono</th>
            <th>Edad</th>
          </tr>
        </thead>

        <tbody>
          <% @clients.each.with_index(1) do |client, index| %>
              <% if client.dbo_today %>
              <tr>
                <td><%= index %></td>
                <td><%= client.complete_name %></td>
                <td><%= client.phone %></td>
                <td><%= client.age %></td>
              </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
