<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    		</button>
				<%= link_to authenticated_root_path, class: "nav navbar-brand"  do %>
						<img src="assets/casluzma.jpg" alt="" style="width: 50px">
				<% end %>
    	</div>

    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav">
					<%= create_link 'Clientes', clients_path %>
					<%= create_link 'Categorias', categories_path %>
					<%= create_link 'Productos', products_path %>
					<%= create_link 'Marcas', brands_path %>
					<%= create_link 'Proveedor', providers_path %>
					<li><%= link_to 'Cerrar Sesión', destroy_user_session_path, :method => :delete %></li>
    		</ul>
    	</div>
	</div>
</nav>
