<!DOCTYPE html>
<html>
  <head>
    <title>Luzmapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Material Design for Bootstrap fonts and icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  </head>

  <body>
    <% if user_signed_in? %>
        <%= render partial: 'layouts/navbar' %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
